@using Microsoft.AspNetCore.Http
@using System.Collections.Generic;
@{
    var currentuser = Context.Items["UserInfo"] as CurrentUserModel;
    var currentUser = (CurrentUserModel)Context.Items["UserInfo"];
    var UserName = "";
}
<div class="nav-control">
    <div class="hamburger">
        <span class="toggle-icon"><i class="fas fa-angle-double-left" style="font-size: 25px; color: #544f90;"></i></span>
    </div>
</div>
<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="~/vendors/images/user.png" alt="" />
                    </span>
                    @*<span class="user-name">Ross C. Lopez</span>*@
                    <span class="user-name">@UserName</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="profile.html"><i class="fa fa-pencil-square"></i>Thay đổi mật khẩu</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="logout()"><i class="dw dw-logout"></i>Thoát</a>
                </div>
            </div>
        </div>
    </div>
</div>
