@*@{
        ViewData["Title"] = "Login Policy";
    }*@
<link rel="stylesheet" type="text/css" href="~/css/login.css">
<div class="container-fluid">
    <div class=" col-md-4 col-sm-8 col-10 offset-md-4 offset-sm-2 offset-1 radius-form bg-white mb-5 " style="background: radial-gradient(circle, var(--indigo) 0%, rgb(232 62 140 / 32%) 100%); border-radius: 25px;">
        <div class="row mt-5">
            <h2 class="col-md-12 col-sm-12 col-12 mt-3" style="text-align:center">Đăng Nhập</h2>
        </div>
        @*Tài khoản*@
        <div class="input-icons mt-4" id="input-container">
            <input type="text" class="form-control inputLogin mb-4" style="border-radius:30px" id="UserName" placeholder="Tài khoản" name="" />
            <i class="fa fa-user absolute-icon-calendar"></i>
        </div>
        @*Mật khẩu*@
        <div class="input-icons" id="input-container">
            <input type="password" class="form-control inputLogin mb-4" style="border-radius:30px" placeholder="Mật khẩu" id="Password" />
            <i class="fa fa-unlock absolute-icon-calendar "></i>
        </div>
        @*Nút đăng nhập*@
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 mt-2 mb-3">
                <button class="btn btn-block btnLogin" style="background-color: red" id="btnLogin" onclick="Login()">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>

@*<script src="~/js/jquery-3.6.0.min.js"></script>*@
<script>
    function Login() {
        $.ajax({
            type: "POST",
            url: '/Login/Login',
            success: function (response) {
                debugger;
                alert(response);
            },
            error: function (result) {
                debugger;
            }
        });
    };
    //$("#btnLogin").click(function () {
    //    localStorage.clear();
    //    //showLoading();
    //    SubmitLogin();
    //});
    //function showLoading() {
    //    $('#preloader').css('display', 'block');
    //}
    //function hideLoading() {
    //    $('#preloader').css('display', 'none');
    //}
    //function SubmitLogin() {
    //    var formdata;
    //    //formdata = {
    //    //    'UserName': $('#UserName').val(),
    //    //    'Password': $('#Password').val(),
    //    //}
    //    //$.ajax({
    //    //    type: "POST",
    //    //    url: '/Login',
    //    //    data: JSON.stringify(formdata),
    //    //success: function (result) {
    //    //        debugger;
    //    //        if (!result) {
    //    //            swal("Thông báo!", "Tài khoản/Mật khẩu chưa đúng!", "warning");
    //    //            hideLoading();
    //    //        } else {
    //    //            var objData = new FormData();
    //    //            objData.append("Token", result.token);
    //    //            objData.append("currentUsers", JSON.stringify(result.currentUsers));
    //    //            fetch('/Login', {
    //    //                method: 'POST', // or 'PUT'
    //    //                body: objData,
    //    //            })
    //    //                .then(response => response.json())
    //    //                .then(result => {
    //    //                    if (result) {
    //    //                        debugger;
    //    //                        var currentUser = { 'id': result.currentUsers.id, 'user_name': result.currentUsers.user_name, 'full_name': result.currentUsers.full_name, 'department_id': result.currentUsers.department_id, 'user_type': result.currentUsers.users_type };
    //    //                        sessionStorage['SessionToken'] = result.token;
    //    //                        localStorage['CurrentPermission'] = JSON.stringify(result.currentUsers.role_list);
    //    //                        localStorage['CurrentUser'] = JSON.stringify(currentUser);
    //    //                        localStorage['SystemParam'] = JSON.stringify(result.systemParam);
    //    //                        localStorage['ApprovalStatus'] = JSON.stringify(result.approvalstatus);
    //    //                        GetMenu();
    //    //                    }
    //    //                    else {
    //    //                        swal("Thông báo!", "Tài khoản/Mật khẩu chưa đúng!", "warning");
    //    //                        hideLoading();
    //    //                    }
    //    //                }).catch((error) => {
    //    //                    console.error('Error:', error);
    //    //                    swal("Thông báo!", "Tài khoản/Mật khẩu chưa đúng!", "warning");
    //    //                    hideLoading();
    //    //                });
    //    //        }
    //    //    },
            
    //    //});
    //};
</script>
